<!--Navbar-->
<div class="navbar-ethan">
    <div class="nav-container">
        <div class="nav-wrapper">
            <a class="home-link" href="/">
                <div class="ethan-logo">
                    <img class="ethan-signature" src="/static/images/signature.png">
                </div>
                <div class="ethan-logo-small">
                    <img class="ethan-signature" src="/static/images/signature_small.png">
                </div>
            </a>
            <div class="nav-menu-wrapper">
                <a class="nav-link right-padding" href="/" aria-current="page">
                    <img class="home-img" src="/static/images/home.png">
                </a>
                <a class="nav-link right-padding" href="/music" aria-current="page">
                    <img class="home-img" src="/static/images/music.png">
                </a>
                <a class="nav-link right-padding" href="/properties" aria-current="page">
                    <img class="home-img" src="/static/images/properties.png">
                </a>
            </div>
            <div class="burger-menu-button">
                <div class="burger-wrapper" id="burger-wrapper">
                    <div class="burger-line line1" id="line1"></div>
                    <div class="burger-line" id="middle-line"></div>
                    <div class="burger-line line3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu" id="mobile-menu">
        <div class="mobile-menu-container">
            <div class="mobile-nav-links-wrapper">
                <a class="mobile-nav-link bottom-padding" href="/" aria-current="page">
                    <img class="home-img-mobile" src="/static/images/home.png">
                </a>
                <a class="mobile-nav-link bottom-padding" href="/music" aria-current="page">
                    <img class="home-img-mobile" src="/static/images/music.png">
                </a>
                <a class="mobile-nav-link bottom-padding" href="/properties" aria-current="page">
                    <img class="home-img-mobile" src="/static/images/properties.png">
                </a>
            </div>
            <div class="mobile-menu-social-wrapper">
                <a class="mobile-social-link" href="https://www.linkedin.com/in/ethankjohnson/" target="_blank">
                    <img src="static/images/linkedin.png" width="38" height="38">
                </a>
                <a class="mobile-social-link" href="https://github.com/ekjohnson4" target="_blank">
                    <img src="static/images/github.png" width="38" height="38">
                </a>
            </div>
        </div>
    </div>
</div>
<!--/.Navbar-->

<script>
<!--    var typedWords = document.getElementById("typed-words");-->
<!--    var normalWords = document.getElementById("normal-words");-->
<!--    var _ELEMENT = document.querySelector("#typed-words");-->
<!--    startTypeAnimation(typedWords, normalWords, _ELEMENT);-->
fadeBurger();
</script>
