{% extends "partials/base.html" %}
{% block content %}
    <div class="sections">
        <section id="404" class="about-me-section">
            <div class="about-me-container animate-opacity-in">
                <div class="error-wrapper">
                    <div class="error-info-wrapper">
                        <h1 class="welcome">
                            <img class="welcome-img" src="static/images/404.png">
                        </h1>
                        <div class="line-divider"></div>
                        <img src="static/images/ethan-error.gif">
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
